# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/

# Virtual environment
.venv/

# Tool caches
.ruff_cache/
.pytest_cache/
.mypy_cache/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# OS / editors
.DS_Store
.vscode/
.idea/
